!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
    %link{:rel => 'stylesheet', :href=>'public/css/custom.css', :type=>'text/css'}
    %title RPS con Haml.
  %body
    
    %h1 Rock, Paper & Scissors
    - if !player_throw
      
      %h2 You vs Computer

      %p    
        .figure

          Choose one:
          %img{:src => 'public/images/animado.gif'}
          %p    
            %a{:href => '?choice=rock'} Rock
            %a{:href => '?choice=paper'} Paper
            %a{:href => '?choice=scissors'} Scissors            
                        
    - else
      %h2
      
      %p
      %br
        .figure2
          = resultado 
 
        %br
        %br
          .figure3
            = answer
        %p
        %br
          
      %atras
        %a{:href=>'/'}
          %img{:src=> 'public/images/atras.gif'}